# compiled output
**/node_modules/
**/cache/
**/out/
/artifacts
/typechain-types
/contracts-exposed
/coverage
coverage.json

# IDE - VSCode
.vscode
.vscode/*
.openzeppelin
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
**/.DS_Store

.env

